body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
#zonaInput{
    background-color: white;
    width: 60vh;
    border: 2px solid blue;
}
label{
    color: black;
    font-size: 3vh;
}
p{
    color: black;
    font-size: 3vh;
}
#volver{
    width: 60vh;
}