.contenedor-tarjetas{
    display: flex; 
    flex-wrap: wrap; 
    gap: 50px;
    justify-content: center;
}
.tarjetas_teamA{
    border: 5px solid #000000;
    border-radius: 8px;
    padding: 50px;
    width: 200px;
    background-color: #c70202;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.tarjetas_teamB{
    border: 5px solid #000000;
    border-radius: 8px;
    padding: 50px;
    width: 200px;
    background-color: #019c01;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}